@use './task-header.scss';
@use './task-content.scss';
@use './task-buttonGroup.scss';

.task {
    background-color: #F2F2F2;
}

.star-task {

    .task-header {
        background-color: var(--star-background-color);
    }

    & .star {
        color: var(--star-color);
    }
}
