.button-group {
    display: flex;
    height: 60px;

    button {
        flex: 1;
        border: none;
        font-size: 24px;
    }
}

.cancel {
    background-color: white;
    color: #D0021B;
}

.submit {
    background-color: var(--background-second);
    color: white;
}