<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style/main.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
    <nav>
        <div class="container">
            <div class="sort-group">
                <a href="##" type="button">My task</a>
                <a href="##" type="button">In progress</a>
                <a href="##" type="button">Completed</a>
            </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="create-new-task">
                <input
                    @keydown.enter="newTaskInputHandler"
                    v-model="newTask.taskTitle"
                    v-show="!isCreating"
                    class="add-new-task"
                    type="text"
                ></input>
                <div v-show="isCreating" :class='{"star-task": newTask.isStar}' class="task">
                    <div class="task-header">
                        <div class="check-complete">
                            <label>
                                <input v-model="newTask.isCompleted" type="checkbox">
                                <span></span>
                            </label>
                        </div>
                        <div class="title">
                            <p>{{ newTask.taskTitle }}</p>
                        </div>
                        <div class="button-group">
                            <a @click='this.newTask.isStar = !this.newTask.isStar' v-html='this.newTask.isStar ? starFillIcon : starEmptyIcon' class='star' type='button'></a>
                            <a @click='this.isClose = !this.isClose' v-html='editIcon' class='edit' type='button'></a>
                        </div>
                    </div>
                    <div :class='{ close: isClose }' class="content">
                        <div class="detail">
                            <div class="deadline">
                                <p>Deadline</p>
                                <input type="date">
                                <input type="time">
                            </div>
                            <div class="file">
                                <p>File</p>
                                <input type="file">
                            </div>
                            <div class="comment">
                                <p>Comment</p>
                                <textarea name="" id="" cols="30" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="button-group">
                            <button @click="createNewTask" class="cancel">Cancel</button>
                            <button class="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="task-list"
                v-for='task in todolist'
            >
                <task :income-data='task'></task>
            </div>
        </div>
    </main>
    </div>
    <script src="./app.js" type="module"></script>
</body>
</html>